.root {
  @apply w-full min-w-full relative flex flex-row items-center overflow-hidden;
  max-height: 100%;
}

.root > div {
  max-height: 100%;
}

.root > div > * > *:nth-child(2) * {
  max-height: 100%;
}

.primary {
  @apply bg-accent-0;
}

.secondary {
  @apply bg-accent-9;
}
